<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>raspberry-system-info</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>isLog4jAutoInitializationDisabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>log4jContextName</param-name>
    <param-value>Info Manger</param-value>
  </context-param>
  <context-param>
    <param-name>isLog4jContextSelectorNamed</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>log4j2.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
  
</web-app>